* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-image: url('../public/bg.jpg');
  background-size: cover;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

.password-input {
  position: relative;
  display: inline-block;
}

input[type="password"] {
  width: 300px;
  height: 40px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
}

.lock-icon {
  position: absolute;
  margin-inline: 12vw;
  color: #aaa;
  font-size: 3rem;
  border: 1px solid #aaa;
  padding: 1rem;
  border-radius: 50%;
  margin-top: -8rem;
}

.custom-button {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: #3498db;
  color: #fff;
  transition: background-color 0.3s ease;
  margin-inline: 1rem;
}

/* Hover style */
.custom-button:hover {
  background-color: #2980b9;
}

/* Active style */
.custom-button:active {
  background-color: #1f618d;
}

/* Focus style */
.custom-button:focus {
  outline: none;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
}

.Weak{
  cursor: not-allowed;
  background-color: #cccccc;
  color: #666666;
}